.inicio {
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #1b0088, #1a1826);
    padding: 20px 20px 200px;
    align-items: center;
}

.inicio p {
    font-size: 2.5em;
    color: #f1f1f1;
}

.titleContainer {
    padding-top: 50px;
}